body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
  background-color: #30363d;
}

.app-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.app-title {
  text-align: center;
  color: #333;
}
